trigger:
- main


stages:
  - stage: python
    displayName: python setup
    jobs:
      - job: python
        displayName: download and create env for python
        pool:
         vmImage: 'windows-latest'
        steps:
          - task: AzureCLI@2
            inputs:
              azuresubscription: "HPE_FC_RPA_SUPPORT_BOTS-connection-1"
              scriptType: 'bash'
              scriptLocation: inlineScript
              inlineScript: |
                git clone -b dev https://github.com/Thiru799/taxi-booking.git temp_project
                ls
                mkdir -p /d/Projects/demo 
                cp -r temp_project/* /d/Projects/demo
                ls /d/Projects/demo/
                python3 -m venv dev
                ls
                echo "Activating virtual environment..."
                source dev/Scripts/activate
                curl https://pypi.org/simple
                
          
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.7.9'
              addToPath: true
              architecture: 'x64'
          - script: |
              python -m pip install --upgrade pip setuptools wheel
              pip install --prefer-binary -r requirements.txt
          - script: |
              echo Python dependencies installed successfully! 
            displayName: 'Success Message'
            condition: succeeded()
